// _show.sass

// header
#show--camp-title > span 
  background-color: black
  padding: 10px 20px
  text-transform: uppercase
  color: white
  font-size: 32px

#edit-icon
  > span 
    margin-left: 25px
    > i
      color: black
  &:hover
    color: #ffdd57

#delete-form
  display: inline-block

#delete-icon
  border: none
  background: none
  > span
    margin-left: 15px
    > i
      color: black
  &:hover
    color: #ffdd57
    cursor: pointer
  
#show--camp-subtitle
  color: black
  font-weight: bold

#show--camp-desc
  max-width: 60%
  letter-spacing: 1px
  font-size: 20px
  margin-bottom: 30px

#show--camp-author
  color: black
  font-weight: bold
  font-style: italic
  margin-top: 15px

// reviews
#reviews--title
  color: black
  font-weight: bold
  text-transform: uppercase
  font-size: 24px
  > span
    display: inline-block
    border: 5px solid black
    width: 20px
    height: 26px
    margin-right: 15px
    margin-bottom: -5px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
