// _show.sass

// header
#show--camp-title > span 
  background-color: black
  padding: 10px 20px
  text-transform: uppercase
  color: white
  font-size: 32px
  
#show--camp-subtitle
  color: black
  font-weight: bold

#show--camp-desc
  max-width: 60%
  letter-spacing: 1px
  font-size: 20px
  margin-bottom: 30px

#show--camp-author
  color: black
  display: inline-block
  font-weight: bold
  font-style: italic
  margin-right: 45px

.dropdown-content
  background-color: black

.dropdown-divider
  background-color: #333

.dropdown-item
  background-color: none
  color: white
  transition: all 0.2s ease-in-out
  &:hover
    background-color: none
    color: #dddddd

#edit-link:hover
  color: #ffc035

#delete-link:hover
  color: #ff3860

// #delete-form
//   display: inline-block
//   margin-left: 25px

// #delete-link
//   border: none
//   background: black
//   color: white
//   font-size: 20px
//   &:hover
//     color: #ff3860
//     cursor: pointer
    
// reviews
#reviews--title
  color: black
  font-weight: bold
  text-transform: uppercase
  font-size: 24px
  > span
    display: inline-block
    border: 5px solid black
    width: 20px
    height: 26px
    margin-right: 15px
    margin-bottom: -5px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
