include ../partials/head

body
  header.hero.is-white.is-fullheight
    include ../partials/nav

    #hero--full-img.hero-body.has-bg-img
      .container
        .columns.is-centered
          #form-box.column.is-5.box
            form(action='/campgrounds/'+campground._id+'/comments' method='post')
              .columns.is-centered
                .column
                  h1#form-title.title.is-4
                    span Leave a comment
                  p#form-subtitle.subtitle.is-6
                    span= campground.name
              .columns.is-centered
                .field.column
                  .control
                    textarea.textarea.is-medium(type='text' name='comment[text]' placeholder='comment')
              .columns.is-centered
                .field.column.is-grouped.is-grouped-centered
                  p.control
                    a.button.is-white.is-medium(href='/campgrounds/'+campground._id) Return
                  p.control
                    button.button.is-medium.is-black Post

