include partials/head.pug

body
  header.hero.is-white.is-fullheight 
    #hero--full-img.hero-body.has-bg-img
      .container
        include partials/message
        #landing-content
          h1#landing-title.title.is-1
            span Welcome to Adventure Camp
          p#landing-subtitle.subtitle.is-5
            span Make it an adventure wherever you go
          a#landing-button.button.is-medium.is-black(href='/campgrounds') View Campgrounds

        ul.slideshow
          li
          li
          li
          li
          li
            