include partials/head.pug

body
  header.hero.is-white.is-fullheight
    include partials/nav
    
    #hero--full-img.hero-body.has-bg-img
      .container
        include partials/message
        h1.title.is-1
          span(style='display: inline-block; padding: 5px 15px 13px; background-color: white; color: black') Welcome to Adventure Camp
        p.subtitle.is-5
          span(style='display: inline-block; padding: 3px 15px 9px; background-color: white; color: black') Make it an adventure wherever you go
        a.button.is-medium.is-black(href='/campgrounds') View Campgrounds