include ../partials/head

body
  header.hero.is-large.is-white
    include ../partials/nav

    #hero--full-img-tp.hero-body.has-bg-img(data-img-src=campground.image)
      .container
        .columns
          .column.is-9
            p#show--camp-title.title.is-spaced
              span
                = campground.name
            p#show--camp-subtitle.subtitle.is-6 $9.00 / NIGHT
            p#show--camp-desc= campground.description 
            p#show--camp-author= campground.author.username
          .column.is-3
            //- a.panel-block.is-active
            //-   span.panel-icon
            //-     i.fas.fa-book
            //-   | Category 1
            //- a.panel-block
            //-   span.panel-icon
            //-     i.fas.fa-book
            //-   | Category 2
            //- a.panel-block
            //-   span.panel-icon
            //-     i.fas.fa-book
            //-   | Category 2
        .buttons
          a.button.is-outlined.is-black(href='/campgrounds') Return        
          if currentUser && campground.author.id.equals(currentUser._id)
            .dropdown.is-hoverable
              .dropdown-trigger
                button.button.is-black(aria-haspopup="true" aria-controls="dropdown-menu")
                  span Action
                  span.icon.is-small
                    i.fas.fa-angle-down(aria-hidden="true")
              .dropdown-menu#dropdown-menu.is-black(role="menu")
                .dropdown-content
                  a.dropdown-item(href='/campgrounds/' + campground.id + '/comments/new') Review Campground              
                  hr.dropdown-divider
                  a.dropdown-item#edit-link(href='/campgrounds/' + campground.id + '/edit') Edit
                  a.dropdown-item#delete-link Delete
          else
            a.button.is-black(href='/campgrounds/' + campground._id + '/comments/new') Review Campground

          //- are you sure you want to delete form popup
          //- form#delete-form(action='/campgrounds/' + campground.id + '?_method=DELETE' method='post')
          //-   button#delete-link(title='delete campground') 
          //-     span.icon.is-large
          //-       i.fas.fa-trash

  .section
    .container
      p#reviews--title.title
        span
        | Reviews
      .columns.is-multiline
        each comment in campground.comments
          .column.is-mobile.is-half-tablet.is-one-third-desktop
            .comment-card.card
              .card-content
                p.comment-card--author.title.is-4= comment.author.username       
                p.comment-card--date.subtitle 10 days ago          
                .content.has-text-contained
                  = comment.text
                  
