#logo-icon {
  vertical-align: middle; }

.has-bg-img {
  background-repeat: no-repeat;
  background-size: cover; }

.camp--title {
  padding-bottom: 10px; }

.card-image img {
  -o-object-fit: cover;
  object-fit: cover; }

.camp--camp-title {
  position: relative;
  top: 250px;
  left: 0;
  color: white;
  width: 100%; }
  .camp--camp-title > span {
    background: black;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 16px; }

figure > a > .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  figure > a > .content:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
    figure > a > .content:hover > h4 > span {
      font-size: 22px; }

.camp--camp-title {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .camp--camp-title > span {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.comment-card {
  border-radius: 3px; }

.column:nth-of-type(5n+1) > .comment-card {
  border-top: 5px solid #66FFB3; }

.column:nth-of-type(5n+2) > .comment-card {
  border-top: 5px solid #FFBB33; }

.column:nth-of-type(5n+3) > .comment-card {
  border-top: 5px solid #66E5FF; }

.column:nth-of-type(5n+4) > .comment-card {
  border-top: 5px solid #FF6699; }

.column:nth-of-type(5n+5) > .comment-card {
  border-top: 5px solid #CC66FF; }

.comment-card--author {
  color: black; }

.comment-card--date {
  font-size: 13px; }

.has-text-contained {
  overflow: hidden;
  word-wrap: break-word; }

#delete-comment {
  display: inline-block;
  margin-left: 8px; }

.edit-button {
  background-color: #FFBB33;
  border-color: #FFBB33;
  color: white; }

#show--camp-title > span {
  background-color: black;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  font-size: 32px; }

#show--camp-subtitle {
  color: black;
  font-weight: bold; }

#show--camp-desc {
  max-width: 60%;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 30px; }

#show--camp-author {
  color: black;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  margin-right: 45px; }

.dropdown-content {
  background-color: black; }

.dropdown-divider {
  background-color: #333; }

.dropdown-item {
  background-color: none;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .dropdown-item:hover {
    background-color: none;
    color: #dddddd; }

#edit-link:hover {
  color: #ffc035; }

#delete-link:hover {
  color: #ff3860; }

#reviews--title {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px; }
  #reviews--title > span {
    display: inline-block;
    border: 5px solid black;
    width: 20px;
    height: 26px;
    margin-right: 15px;
    margin-bottom: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

#form-box {
  padding-top: 20px;
  padding-bottom: 20px; }

#landing-content {
  z-index: 1;
  position: relative; }

#landing-title > span {
  display: inline-block;
  padding: 5px 15px 13px;
  background-color: white;
  color: black; }

#landing-subtitle > span {
  display: inline-block;
  padding: 3px 15px 9px;
  background-color: white;
  color: black; }

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  .slideshow > li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    -webkit-animation: imageAnimation 50s linear infinite;
    animation: imageAnimation 50s linear infinite; }
    .slideshow > li:nth-child(1) {
      background-image: url(https://source.unsplash.com/1600x900/?nature,water); }
    .slideshow > li:nth-child(2) {
      background-image: url(https://source.unsplash.com/1600x900/?trees,camping);
      -webkit-animation-delay: 10s;
      animation-delay: 10s; }
    .slideshow > li:nth-child(3) {
      background-image: url(https://source.unsplash.com/1600x900/?camping,wilderness);
      -webkit-animation-delay: 20s;
      animation-delay: 20s; }
    .slideshow > li:nth-child(4) {
      background-image: url(https://source.unsplash.com/1600x900/?outdoors,camping);
      -webkit-animation-delay: 30s;
      animation-delay: 30s; }
    .slideshow > li:nth-child(5) {
      background-image: url(https://source.unsplash.com/1600x900/?winter,forest);
      -webkit-animation-delay: 40s;
      animation-delay: 40s; }

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }

#form-box {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent; }

#form-title {
  color: black;
  text-transform: uppercase;
  font-weight: bold; }
  #form-title > span {
    display: inline-block;
    padding: 7px 10px;
    background-color: black;
    color: white; }

#form-subtitle {
  text-transform: uppercase;
  font-weight: bold; }
  #form-subtitle > span {
    display: inline-block;
    padding: 5px 10px;
    background-color: black;
    color: #CC66FF; }

textarea.textarea,
input.input {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: black;
  border-bottom: 5px solid black; }

.button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

body {
  color: #000;
  height: 100%; }
